tickTime=2000
initLimit=10
syncLimit=5
dataDir={{ zookeeper_data_dir }}
dataLogDir={{ zookeeper_data_log_dir }}
clientPort={{ zookeeper_client_port }}
autopurge.purgeInterval=1
preAllocSize=131072
snapCount=30
{% for host in clickhouse_hosts %}
server.{{ clickhouse_hosts.index(host) + 1 }}={{ hostvars[host]['ansible_host'] }}:{{ zookeeper_leader_port }}:{{ zookeeper_election_port }}
{% endfor %}
